kind: Pod
metadata:
  name: secret-env-pod
spec:
  containers:
  - name: mycontainer
    image: redis
    env:
    - name: SECRET_USERNAME
       valueFrom:
         secretKeyRef:
           name: mysecret
           key: username